.background{
    width: 400px;
    height: 600px;
    background-color: lightgray;
    border: solid black 3px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  
}

body{
display: flex;
justify-content: center;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}

.operator{
    background-color: aquamarine;
}

button{
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px;
    width: 80px;
    height: 80px;
    font-size: 18px;
    font-weight: bold;
}
.clear, .delete{
    height: 75px;
    width: 180px;
    text-align: center;

}
.clear{
    background-color: red;
}
.delete{
    background-color: orange;
}
.display{
    background-color: white;
    border-radius: 15px;
    display: flex;
    border: 2px solid black;
    height: 100px;
    width: 375px;
    font-size: 72px;
    align-content:flex-end;
    justify-content: end;
    align-items: flex-end;
}
.equals{
    background-color: lawngreen;
}

